.lobilist-list{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: @list-width;
  padding: @list-padding;
  .panel{
    border-radius: 0;
    .panel-heading{
      .border-top-radius(0);
    }
    .panel-footer{
      .border-bottom-radius(0);
    }
  }
  .panel-body{
    padding: 8px;

    .lobilist-cards-wrapper{
      margin-bottom: 8px;
    }
  }
}