<div class="lobilist-main" layout="column">
    <md-sidenav md-component-id="boards-sidenav" class="boards-sidenav">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">{{'TOOLBAR.BOARDS_TITLE' | translate}}</h1>
        </md-toolbar>
        <md-content layout-padding>
            <form name="searchBoardForm">
                <md-input-container class="md-block">
                    <label>{{'LOBILIST.MAIN.SEARCH_BOARDS_INPUT_PLACEHOLDER' | translate}}</label>
                    <input ng-model="vm.searchBoardTitle">
                </md-input-container>
            </form>

            <md-list ng-cloak>
                <md-list-item ng-repeat="board in vm.boards | filter: vm.searchBoardTitle"
                              ng-click="vm.selectBoard(board)">
                    <p>{{board.title}}</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <lobilist-board lobi-board="vm.selectedBoard"></lobilist-board>
</div>