<div id="board-wrapper" class="lobi-board" as-sortable="vm.sortOptions" ng-model="vm.lists">

    <div ng-repeat="list in vm.lists" as-sortable-item class="lobilist-list-wrapper">
        <div as-sortable-item-handle>
            <div lobilist-list lobi-list="list"></div>
        </div>
    </div>
    <div class="add-new-list-wrapper">
        <md-card ng-show="vm.addingNewList">
            <md-card-content>
                <form name="newListForm">
                    <md-input-container md-no-float class="md-block">
                        <input id="new-list-textfield"
                               ng-keyup="vm.addList($event)"
                               type="text"
                               ng-model="vm.newList.title"
                               placeholder="{{'BOARD.ADD_NEW_LIST_TEXT' | translate}}">
                    </md-input-container>
                </form>

                <md-card-actions layout="row">
                    <md-button class="md-primary md-raised"
                               translate="ADD_TEXT"
                               aria-label="{{'ADD_TEXT' | translate}}"
                               ng-click="vm.addList($event)"></md-button>

                    <md-button class="md-icon-button"
                               aria-label="{{'CANCEL_TEXT' | translate}}"
                               ng-click="vm.cancelNewList()">
                        <md-icon>close</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
        <md-button translate="BOARD.ADD_NEW_LIST_TEXT"
                   ng-show="!vm.addingNewList"
                   aria-label="{{'BOARD.ADD_NEW_LIST_TEXT' | translate}}"
                   ng-click="vm.showAddNewListForm()"
                   style="width: 100%"></md-button>
    </div>
</div>